# Multivariate Regression

In [1]:
# price = m1* area + m2* bedrooms + m3* age + b(intercept)
# y = m1*x + m2*x + m3*x + ....

In [2]:
# Importing necessary libraries
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
# Handling the missing data
median_bedrooms = df.bedrooms.median()
median_bedrooms

4.0

In [12]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [14]:
df
# Data is pre processed now

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [18]:
# Create a linear regression object
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [20]:
reg.coef_  # m1, m2, m3

array([  112.06244194, 23388.88007794, -3231.71790863])

In [23]:
reg.intercept_  # b

221323.00186540408

##### Predict house with 3000 sq ft area, 5 bedrooms and 20 years old

In [31]:
reg.predict([[3000,5,20]])

array([609820.36990884])